/* .Outer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center-align */
    /* align-items: center; */

  /* } */ 
  
  .SearchBox {
    text-align: center;
  }
  